# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# folders
engine_truck_backend/public/videos/*.mp4
engine_truck_backend/public/videos/*.avi
engine_truck_backend/public/videos/*.mkv
engine_truck_backend/public/images/*.png
engine_truck_backend/public/images/*.jpg
engine_truck_backend/public/images/*.jpeg
engine_truck_backend/public/images/*.webp

# dependencies
engine_truck_frontend/node_modules
engine_truck_frontend/.pnp
engine_truck_frontend/.pnp.js
engine_truck_frontend/.yarn/install-state.gz
engine_truck_backend/node_modules
engine_truck_backend/.pnp
engine_truck_backend/.pnp.js
engine_truck_backend/.yarn/install-state.gz

# testing
engine_truck_frontend/coverage
engine_truck_backend/coverage

# next.js
engine_truck_frontend/.next/
engine_truck_frontend/out/
engine_truck_backend/.next/
engine_truck_backend/out/

# production
engine_truck_frontend/build
engine_truck_backend/build

# misc
engine_truck_frontend/.DS_Store
engine_truck_frontend/*.pem
engine_truck_backend/.DS_Store
engine_truck_backend/*.pem

# debug
engine_truck_frontend/npm-debug.log*
engine_truck_frontend/yarn-debug.log*
engine_truck_frontend/yarn-error.log*
engine_truck_backend/npm-debug.log*
engine_truck_backend/yarn-debug.log*
engine_truck_backend/yarn-error.log*

# local env files
engine_truck_frontend/.env*.local
engine_truck_backend/.env*.local

# vercel
engine_truck_frontend/.vercel
engine_truck_backend/.vercel

# typescript
engine_truck_frontend/*.tsbuildinfo
engine_truck_frontend/next-env.d.ts
engine_truck_backend/*.tsbuildinfo
engine_truck_backend/next-env.d.ts
