# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# folders
engine-truck-backend/public/videos
engine-truck-backend/public/images

# dependencies
engine-truck-frontend/node_modules
engine-truck-frontend/.pnp
engine-truck-frontend/.pnp.js
engine-truck-frontend/.yarn/install-state.gz
engine-truck-backend/node_modules
engine-truck-backend/.pnp
engine-truck-backend/.pnp.js
engine-truck-backend/.yarn/install-state.gz

# testing
engine-truck-frontend/coverage
engine-truck-backend/coverage

# next.js
engine-truck-frontend/.next/
engine-truck-frontend/out/
engine-truck-backend/.next/
engine-truck-backend/out/

# production
engine-truck-frontend/build
engine-truck-backend/build

# misc
engine-truck-frontend/.DS_Store
engine-truck-frontend/*.pem
engine-truck-backend/.DS_Store
engine-truck-backend/*.pem

# debug
engine-truck-frontend/npm-debug.log*
engine-truck-frontend/yarn-debug.log*
engine-truck-frontend/yarn-error.log*
engine-truck-backend/npm-debug.log*
engine-truck-backend/yarn-debug.log*
engine-truck-backend/yarn-error.log*

# local env files
engine-truck-frontend/.env*.local
engine-truck-backend/.env*.local

# vercel
engine-truck-frontend/.vercel
engine-truck-backend/.vercel

# typescript
engine-truck-frontend/*.tsbuildinfo
engine-truck-frontend/next-env.d.ts
engine-truck-backend/*.tsbuildinfo
engine-truck-backend/next-env.d.ts
